body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #3494E6, #EC6EAD);
  }
  
  .clock-body {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  